# Python
__pycache__/
*.py[cod]
.ipynb_checkpoints/

# Dataset
dataset/
HAM10000_images_part_1/
HAM10000_images_part_2/
*.csv

# Training outputs
logs/
outputs/
history/

# VS Code
.vscode/

# Cache
.cache/

# Archives
*.zip
*.tar
*.gz
